PRODUCTION=False
API_PORT=8000
ALLOWED_EXTENSIONS=[".mp3", ".wav"]
MAX_FILE_SIZE=11111 # The size of the file in bytes
# ==================

AI_API_KEY="111111111111111111111111"
AI_BASE_URL="https://api.groq.com/openai/v1"
AI_AUDIO_MODEL="whisper-large-v3-turbo"
AI_TEXT_MODEL="groq/compound-mini"
